/* src/components/Signup/Signup.css */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #B8DBD9, #BFB48F);
}

.signup-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-align: center;
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2F4550;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #1e2a32;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.signup-success {
  text-align: center;
}

.signup-success p {
  margin-bottom: 10px;
}

.btn-back-to-home,
.btn-back-to-login {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2F4550;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Add space above each button */
}

.btn-back-to-home:hover,
.btn-back-to-login:hover {
  background-color: #1e2a32;
}
